header
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    border: #000 solid 2px;
    background-color: #eee;
}

header section
{
    padding: 2vh;
    text-align: center;
}

.back
{

}

.save img,
.back img
{
    width: 6vh;
}

.menu
{
    display: flex;
    margin: 1vh;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.menu a
{
    font-size: 2.4vh;
    margin: 1vh;
    padding: 1vh 2vh;
}

input,
select,
textarea
{
    border: #545454 solid 1px;
    border-radius: 1vh;
    padding: 1vh 2vh;
    margin: 1vh;
    min-width: 28vw;
}

button
{
    border: none;
}