{% extends "layouts/QuestHeader.html" %}

{% block links %}
    <link href="/static/css/Flags.css" rel="stylesheet">
{% endblock %}


{% block title %}Флаги{% endblock %}


{% block content %}
    <section class="available">
        <h2>Доступные флаги</h2>
        <table>
            <tr>
                <th>Название</th>
                <th>Описание</th>
            </tr>
            <tr>
                <td>IsFominOwn</td>
                <td>Фомин на базе!</td>
            </tr>
            <tr>
                <td>IsAnomalyDefeat</td>
                <td>Аномалия уничтожена</td>
            </tr>
        </table>
    </section>

    <section class="used">
        <h2>Используемые флаги</h2>
        <table>
            <tr>
                <th>Название</th>
                <th>Описание</th>
            </tr>
            <tr>
                <td>IsFominOwn</td>
                <td>Фомин на базе!</td>
            </tr>
            <tr>
                <td>IsAnomalyDefeat</td>
                <td>Аномалия уничтожена</td>
            </tr>
        </table>
    </section>
{% endblock %}