{% extends "layouts/QuestHeader.html" %}

{% block links %}
    <link href="/static/css/Map.css" rel="stylesheet">
{% endblock %}


{% block title %}Карта{% endblock %}


{% block content %}
    <div class="section">
        <section class="map">
            <h2>Карта</h2>
            <div class="links"></div>
            <div class="nodes-view">
                <div class="nodes">
                    <div style="display: none;" class="node" id="default-node">
                        Test
                        <span class="node-name"></span>
                        <div class="link-directions">
                            <span id="up">o</span>
                            <span id="right">o</span>
                            <span id="down">o</span>
                            <span id="left">o</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="available-nodes">
                <h2>Доступные ноды</h2>
                <button onclick="NewNode('Start');" class="available-node">Начало</button>
                <button onclick="NewNode('Action');" class="available-node">Действие</button>
                <button onclick="NewNode('Checkpoint');" class="available-node">Чекпоинт</button>
                <button onclick="NewNode('End');" class="available-node">Конец</button>
            </div>
        </section>

        <section class="inspector">
            <h2>Данные ноды</h2>

            <label>Индекс</label>
            <input class="inspector-input" type="number" id="index" name="index">
            <label>Название</label>
            <input class="inspector-input" type="text" id="name" name="name">
            <label>Текст панели</label>
            <textarea id="text" class="inspector-input"></textarea>
            <label>URL Картинки</label>
            <input class="inspector-input" type="text" id="image_url" name="image_url">

            <a href="#actions-and-events" class="blue-button">К событиям и действиям</a>

            <div class="action-buttons">
                <h2>Кнопки действия</h2>
                <div id="action-buttons">
                    <div class="hidden-button" style="display: none">
                        <div class="action-button" id="default-action-button">
                            <input type="text" placeholder="Текст кнопки">
                            <input type="text" placeholder="ID кнопки">
                            <button class="action-button-remove">❌</button>
                        </div>
                    </div>
                </div>
                <button id="new-action-button" class="blue-button">Ещё одна кнопка</button>
            </div>
        </section>
    </div>


    <div class="section">
        <section class="actions-and-events" id="actions-and-events">
            <row id="events-row" class="unavailable">
                <h2>События</h2>
                <div class="events">
                    {% for event_group in quest.events %}
                        <div class="event loaded"  id="{{ event_group['ID'] }}" >
                            {% if event_group['Linked'] != '' %}
                                <linked>{{ event_group['Linked'] }}</linked>
                            {% endif %}
                            <div class="group">
                                {% for event in event_group['Group'] %}
                                    <span>{{ event }}</span>
                                {% endfor %}
                            </div>
                            <input type="text" placeholder="Событие">
                            <a id="remover">❌</a>
                        </div>
                    {% endfor %}
                </div>

                <button id="new-event" class="blue-button">Новое событие</button>
            </row>

            <row id="objects-row" class="unavailable">
                <h2>Объекты</h2>
                <div class="objects">
                    {% for obj_group in quest.objects %}
                        <div class="object loaded" id="{{ obj_group['ID'] }}" style="display: none">
                            {% if obj_group['Linked'] != '' %}
                                <linked>{{ obj_group['Linked'] }}</linked>
                            {% endif %}
                            <div class="group">
                                {% for obj in obj_group['Group'] %}
                                    <span>{{ obj }}</span>
                                {% endfor %}
                            </div>
                            <input type="text" placeholder="Объект">
                            <a id="remover">❌</a>
                        </div>
                    {% endfor %}
                </div>

                <button id="new-object" class="blue-button">Новый объект</button>
            </row>

            <row id="actions-row"  class="unavailable">
                <h2>Действия</h2>
                <div class="actions">

                    {% for action_group in quest.actions %}
                        <div class="action loaded" id="{{ action_group['ID'] }}" style="display: none">
                            <div class="group">
                                {% for action in action_group['Group'] %}
                                    <span>{{ action }}</span>
                                {% endfor %}
                            </div>
                            <input type="text" placeholder="Действие">
                            <a id="remover">❌</a>
                        </div>
                    {% endfor %}
                </div>

                <button id="new-action" class="blue-button">Новое действие</button>
            </row>
        </section>
    </div>

    <div class="defaults">

        <div class="event" id="default-event">
            {#<label>Группа событий:</label>#}
            <div class="group"></div>
            <input type="text" placeholder="Событие">
            <a id="remover">❌</a>
        </div>

        <div class="action" id="default-action">
            {#<label>Группа действий:</label>#}
            <div class="group"></div>
            <input type="text" placeholder="Действие">
            <a id="remover">❌</a>
        </div>

        <div class="object" id="default-object">
            {#<label>Группа объектов:</label>#}
            <div class="group"></div>
            <input type="text" placeholder="Объект">
            <a id="remover">❌</a>
        </div>

        <div class="event-objects" id="default-objects"></div>
        <div class="object-actions" id="default-actions"></div>
    </div>

{% endblock %}


{% block js %}
    <script type="module">
        import {map} from '/static/js/map/NodeMap.js';
        import {serialize, deserialize} from '/static/js/map/Serializer.js';

        window.NewNode = (nodeType) => {map.Add(nodeType);}
        window.serialize = serialize;
        window.deserialize = deserialize;
        window.map = map;

        window.SaveQuest = (questID) =>
        {
            localStorage.setItem("Nodes", serialize(map.nodes));
            localStorage.setItem("Links", serialize(map.links));
        }

        if (localStorage.hasOwnProperty("Nodes"))
        {
            let nodes = deserialize(localStorage["Nodes"]);

            for(let node of nodes)
            {
                NewNode(node.type);
                let newNode = map.nodes[map.nodes.length - 1];

                newNode.name = node.name;
                newNode.description = node.description;
                newNode.SetPosition(node.x, node.y);
                newNode.links = node.links;
                // newNode.events = node.events;

                newNode.UpdateDisplayName();
            }
        }

        if (localStorage.hasOwnProperty("Links"))
        {
            let links = deserialize(localStorage["Links"]);

            for(let link of links)
            {
                map.NewLink(link.startNodeID, link.endNodeID);
            }
        }
    </script>
    <script src="/static/js/map/ActionButtons.js"></script>
{% endblock %}
